<header class="site-header">
  <div class="wrapper">
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    <nav class="site-nav">
      <div class="trigger">
        <a class="page-link" href="{{ '/categories/toys/' | relative_url }}">あそび</a>
        <a class="page-link" href="{{ '/categories/photo/' | relative_url }}">写真</a>
        <a class="page-link" href="{{ '/categories/life/' | relative_url }}">生活</a>
        <a class="page-link" href="{{ '/categories/parenting/' | relative_url }}">育児</a>
        <a class="page-link" href="{{ '/categories/thoughts/' | relative_url }}">思考</a>
        <a class="page-link" href="{{ '/categories/ai/' | relative_url }}">AI</a>
      </div>
    </nav>
  </div>
</header>
